[submodule "lib/forge-std"]
	path = lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "lib/base-v4-hook"]
	path = lib/base-v4-hook
	url = https://github.com/cairoeth/base-v4-hook
